body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #444;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 100px;
}

.container .card {
  position: relative;
}

.container .card .face {
  width: 300px;
  height: 250px;
  transition: 0.4s;
}

.container .card .face .face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}
.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  transform: translateY(30px);
}

.container .card .face.face1 .content h3 {
  font-size: 1em;
  color: #fff;
  text-align: center;
  transform: translateY(50px);
}
.container .card .face.face1 .content a {
  transition: 0.5s;
}

.container .card .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

a {
  border-radius: 10px;
}

.container .card .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}

.container .card .face.face2 .content a {
  text-decoration: none;
  color: #111;
  box-sizing: border-box;
  outline: 1px solid #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------------------------- */

/* ----------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.container1 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 800px;
  height: 500px;
  transition: all 400ms;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 740px) {
  .container1 {
    width: 400px;
  }
}

.container1:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.container1 .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container1:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container1:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container1:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container1:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container1:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}
/* --------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
section{
    position:relative;
    width:100%;
    height:100vh;
    background-color: var(--bg);
	color: var(--fg);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
   } 
  h2{
    font-size:2em;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    display:flex;
    cursor: pointer;
   } 
  h2 span{
    transition:1.5s;
   } 
  h2:hover span{
    filter:blur(20px);
    opacity:0;
    transform:scale(2);
   } 
  h2 span:nth-child(10n+1){
  transition-delay:0s;
  }
  
  h2 span:nth-child(10n+2){
  transition-delay:0.1s;
  }
  
  h2 span:nth-child(10n+3){
  transition-delay:0.2s;
  }
  
  h2 span:nth-child(10n+4){
  transition-delay:0.3s;
  }
  
  h2 span:nth-child(10n+5){
  transition-delay:0.4s;
  }
  
  h2 span:nth-child(10n+6){
  transition-delay:0.5s;
  }
  
  h2 span:nth-child(10n+7){
  transition-delay:0.6s;
  }
  
  h2 span:nth-child(10n+8){
  transition-delay:0.7s;
  }
  
  h2 span:nth-child(10n+9){
  transition-delay:0.8s;
  }
  
  h2 span:nth-child(10n+10){
  transition-delay:0.9s;
  }
  
  h2 span:nth-child(10n+11){
  transition-delay:1s;
  }
  
  h2 span:nth-child(10n+12){
  transition-delay:1.1s;
  }
  
  h2 span:nth-child(10n+13){
  transition-delay:1.2s;
  }
  
  h2 span:nth-child(10n+14){
  transition-delay:1.3s;
  }
  
  h2 span:nth-child(10n+15){
  transition-delay:1.4s;
  }

  /* ----------PRELOADER----------------------------------------- */
  :root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
body {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition: background-color var(--trans-dur);
}
main {
	padding: 1.5em 0;
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}
/* -------------------------------------------pre  */
/* Стили для создания стрелки */

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .arrow-down {
    width: 32px;
    height: 32px;
    border: solid rgb(249, 246, 246);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Стили для скрытия содержимого SVG */
  
  .preloader {
    position: relative;
  }
  
  .preloader:not(:hover) .overlay {
    opacity: 1;
  }
  
  .preloader:not(:hover) svg.ip {
    visibility: hidden;
  }
  /* -------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

   
.center{
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    min-height:100vh;
   }
  .ring{
    position:absolute;
    width:200px;
    height:200px;
    border-radius:50%;
    animation:ring 2s linear infinite;
    }
  @keyframes ring{
    0%{
      transform:rotate(0deg);
      box-shadow:1px 5px 2px #e65c00;
      }
    50%{
      transform:rotate(180deg);
  
      box-shadow:1px 5px 2px #18b201;
      }
    100%{
      transform:rotate(360deg);
      box-shadow:1px 5px 2px #0456c8;
      }
   } 
  .ring:before{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    box-shadow:0px 0px 5px rgba(255,255,255,0.3);
    }
  span{
    color:#737373;
    font-size:20px;
    text-transform:uppercase;
    letter-spacing:3px;
    line-height:200px;
    animation:text 2s linear infinite;
   } 
  @keyframes text{
    0%{
      color:#e65c00;
      }
    50%{
      color:#18b201;
      }
    100%{
      color:#0456c8;
      }
   } 